@import "../../styles/layout.scss";

@mixin button-variant($color) {
  background-color: var(
    --theme--color--#{$color}-background,
    var(--theme--color--button-background)
  );
  color: var(--theme--color--#{$color}-text, var(--theme--color--button-text));
  border: 1px solid
    var(--theme--color--#{$color}-border, var(--theme--color--button-border));

  &:hover {
    background-color: var(
      --theme--color--#{$color}-background-hover,
      var(--theme--color--button-background-hover)
    );
    color: var(
      --theme--color--#{$color}-text-hover,
      var(--theme--color--button-text-hover)
    );
  }

  &:focus {
    background-color: var(
      --theme--color--#{$color}-background-focus,
      var(--theme--color--button-background-focus)
    );
    box-shadow: 0 0 0 var(--theme--size--1)
      var(
        --theme--color--#{$color}-border-focus,
        var(--theme--color--button-border-focus)
      );
  }

  &:active {
    background-color: var(
      --theme--color--#{$color}-background-focus,
      var(--theme--color--button-background-focus)
    );
  }

  &:disabled {
    background-color: var(
      --theme--color--#{$color}-background-disabled,
      var(--theme--color--button-background-disabled)
    );
    color: var(
      --theme--color--#{$color}-text-disabled,
      var(--theme--color--button-text-disabled)
    );
  }

  &.underline {
    background-color: var(--theme--color--transparent);
    color: var(--theme--color--text, var(--theme--color--button-background));
    border-radius: var(--theme--size--0);
    box-shadow: var(--theme--size--0) var(--theme--size--0)
      var(--theme--size--0) var(--theme--size--0)
      var(
        --theme--color--#{$color}-background,
        var(--theme--color--button-background)
      )
      inset;

    &.selected {
      box-shadow: var(--theme--size--0) calc(-1 * var(--theme--size--1))
        var(--theme--size--0) var(--theme--size--0)
        var(
          --theme--color--#{$color}-background,
          var(--theme--color--button-background)
        )
        inset;
    }
  }
}

.button {
  @include block;

  appearance: none;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;

  border-radius: var(--theme--size--border-radius);
  transition:
    background-color var(--theme--timing--instantaneous) ease-in-out,
    color var(--theme--timing--instantaneous) ease-in-out,
    border-color var(--theme--timing--instantaneous) ease-in-out,
    box-shadow var(--theme--timing--instantaneous) ease-in-out;
  box-shadow: 0 0 0 var(--theme--size--0)
    var(--theme--color--form-input-border-focus);
  line-height: var(--theme--line-height--body);
  font-family: var(--theme--font-family--body);
  font-size: var(--theme--font-size--body);
  font-weight: var(--theme--font-weight--body);
  padding: var(--theme--padding--button);

  background-color: var(--theme--color--button-background);
  color: var(--theme--color--button-text);

  &:hover {
    background-color: var(--theme--color--button-background-hover);
    color: var(--theme--color--button-text-hover);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  @include button-variant(button);

  &.primary {
    @include button-variant(primary);
  }

  &.ghost {
    @include button-variant(ghost);
  }

  &.danger {
    @include button-variant(danger);
  }

  &.success {
    @include button-variant(success);
  }

  &.warning {
    @include button-variant(warning);
  }

  &.info {
    @include button-variant(info);
  }
}
