.list {
  flex: 1;

  &.ordered {
    // No styles
  }

  &.unordered {
    // No styles
  }

  &.unstyled {
    list-style-type: none;
    padding-inline-start: 0;
  }
}

.item {
  flex: 1;
  width: 100%;
}
